.grid {
    display: inline-grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    background-color: white;
    padding: 5px;
    cursor: default;
}

.grid__cell {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.grid_disabled {
    opacity: 0.8;
}
