.grid {
    display: inline-grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    background-color: white;
    padding: 5px;
    cursor: default;
}

.grid__cell {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__cell_drag_off {
    cursor: not-allowed;
}

.grid__zero-cell {
    visibility: hidden;
}